{% extends 'magazine/layout.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
    <h2>Forgot Password</h2>
{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}
    <form method="post" action="{% url 'm_forgot_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send reset instructions</button>
    </form>
{% endblock %}