{% extends "magazine/layout.html" %}

{% block title %}
Gresham's Archive | Login
{% endblock %}

{% block content %}
<body>
    <div class="admin-title center">
        The Gresham Magazine Archive {{test}}
    </div>
    <div class="anchor center">
        <a href="/">
            back
        </a>
    </div>
    <div class="login-box center">
        <form method="post" action="/magazine/login">
            {% csrf_token %}
            <input id="email-input" type="text" class="input-box" name="email" placeholder="email" required>
            <br><br>
            <input id="password-input" type="password" class="input-box" name="password" placeholder="password" required>
            <br><br>
            <input type="submit" id="login-submit" value="login">
        </form>
        <a href="/magazine/forgot-password">
            forgot password
        </a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="error-msg center">{{ message }}</div>
        {% endfor %}
    {% endif %}

</body>
{% endblock %}