{% extends 'magazine/layout.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
    <h2>Reset Password</h2>
{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}
<form method="post" action="{% url 'm_reset_password' uid=uid uidb64=uidb64 token=token %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="password" name="password" class="form-control" id="password" placeholder="New password" required>
    </div>
    <div class="form-group">
        <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm password" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock %}